/**
* @Author: {{ user.name }} {{ user.email }}
* @Date: {{ datetime }}
* @LastEditors: aric 1290657123@qq.com
* @LastEditTime: 2024-09-29 08:33:59
*/

import { HTMLAttributes } from 'react';
import cx from 'classnames';

type IProps = HTMLAttributes<HTMLDivElement>;

const {{ titleCase name }} = (props: IProps) => {
  const { className, children, ...rest } = props;
  const { t } = nx.useIntl('src.shared.components.{{dashCase name }}');
  return (
    <div className={cx('relative', className)} {...rest}>
      {t('title')}
      {children}
    </div>
  );
};

export default {{ titleCase name }};
